# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:password@localhost:5432/saas"
DIRECT_URL="postgresql://postgres:password@localhost:5432/saas?pgbouncer=true"
KINDE_CLIENT_ID=ba6575a9398438473244324325526065846
KINDE_CLIENT_SECRET=rledfHhfajdfjrfrjkegrejgegerPznmwF7vj2ptjdwOpOSO
KINDE_ISSUER_URL=https://vamsidhar.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard
UPLOADTHING_TOKEN=eyJhcGlLZXkiOiJza19saXZlXzgwM2NkNzZlMzhhYjY4YTExMjNjM2VlOTA5Nmeieuhtruhtigjtrgrtgdpb25zIjpbInNlYTEiXX0
PINECONE_API_KEY=pcsk_2dixFt_2izuEWnj234nfrhrfb34fvA9NfHhrPGYAEHUWoynZg6fWwXu8UF
WATSONX_API_KEY=cpD4NEHYXdewmndewewlfmkrfmkrmfYJ-mfrCuyjqcS5XijNH6
WATSONX_PROJECT_ID="86daf66f-b8fwede-we34242-d92548b88c"
WATSONX_EMBEDDING_MODEL="intfloat/multilingual-e5-large",
WATSONX_CHAT_MODEL="ibm/granite-3-3-8b-instruct"
WATSONX_SERVICE_URL="https://eu-de.ml.cloud.ibm.com"